<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user"></i></span>
    <%= f.text_field :name, :placeholder => 'Name', :class => 'form-control' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
    <%= f.text_area :address, :placeholder => 'Address', :class => 'form-control', :noresize => 'true' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-at"></i></span>
    <%= f.text_field :email, :placeholder => 'Email', :class => 'form-control' %>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
    <%= f.select :payment_method, Order::PAYMENT_TYPES, {:prompt => 'Select payment method...'}, {:class => 'form-control'} %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
