<h2>Your cart: </h2>
<ul>
	<% @cart.line_items.each do |item| %>
		<li id="<%= item.id %>"><span class="quantity"><%= item.quantity %></span> &times; <%= item.product.name %> <%= link_to '', {:controller => 'line_items', :action => 'remove', :id => item.id }, {:class => 'fa fa-close', :remote => true} %></li>
	<% end %>
</ul>
<p>Total price: <span id="total_price"><%= number_to_currency(@cart.total_price) %></span><br></p>

<p><%= link_to 'Checkout', new_order_path, :class => 'btn btn-success' %> <%= link_to 'Empty Cart', @cart, {:method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'btn btn-danger'} %></p>
